window {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    font-family: "Space Mono Nerd Font";
    font-weight: 900;
}

#outer-box {
    background-color: rgba(0, 0, 0, 0);
}

#input {
    border-radius: 0px;
    margin: 0px -10px 2px 50px;
    border-radius: 10px 0 0 10px;
}

#scroll {
	
}

#inner-box {
    
}

#entry {
    transition: 0.2s;
    border: 1px solid rgb(69, 69, 69);
}

#entry, #entry:selected {
    background-color: rgba(23, 23, 23, .5);
    border-radius: 0px;
    border-radius: 10px 0 0 10px;
    margin: 2px -10px 2px 50px;
    padding: 10px;
}

#entry:selected {
    background-color: rgb(166, 0, 255);
    margin-left: 0px;
}

#text {
    font-size: 13px;
    color: rgb(228, 203, 255);
}

#img {
	
}

