* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'SpaceMono Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #bdd8d3;
    background-clip: unset;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    /* border-bottom: 2px dotted #8b421f; */
    text-shadow: 0px 0px 3px #bdd8d3, 0px 0px 7px #bdd8d3;
}

#window {
    padding: 0px 10px 0px 0px;
}

#workspaces {
    padding-left: 5px;
    font-weight: bold;
}

#workspaces button {
    padding: 0 4px;
    margin: 4px;
    background-color: transparent;
    color: #ffffff;
    text-shadow: 0px 0px 3px #bdd8d3, 0px 0px 7px #bdd8d3;
    transition: 300ms;
    transition-property: text-shadow;
}

#workspaces button.focused, #workspaces button.focused:hover, #workspaces button.active:hover {
    text-shadow: 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 10px #bdd8d3, 0px 0px 10px #bdd8d3;
    transition: 200ms;
    transition-property: text-shadow;
    font-size: 15px;
    background: none;
    border: none;
    padding: 0px 4px;
    margin: 4px;
}

#workspaces button:hover:not(.focused):not(.active) {
    text-shadow: 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 10px #bdd8d3, 0px 0px 10px #bdd8d3;
    font-size: 15px;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0 5px;
    margin: 4px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#mpris,
#custom-powermenu,
#custom-shutdown,
#custom-reboot,
#custom-hibernate,
#custom-suspend {
    padding: 4px 5px;
    margin: 0 4px 0 4px;
    transition: 200ms;
    transition-property: text-shadow;
}

#custom-power {
    padding: 0 5px;
}

#custom-shutdown:hover,
#custom-reboot:hover,
#custom-hibernate:hover,
#custom-suspend:hover {
    text-shadow: 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 10px #bdd8d3, 0px 0px 10px #bdd8d3;
    transition: 200ms;
    transition: 200ms;
    transition-property: text-shadow;
    transition-property: text-shadow;
}

menu {
    background-color: #141414;
}

menuitem {
    text-shadow: 0px 0px 3px #bdd8d3, 0px 0px 7px #bdd8d3;
    background: none;
    transition: 200ms;
    transition-property: text-shadow;
}

menuitem:hover {
    text-shadow: 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 5px #bdd8d3, 0px 0px 10px #bdd8d3, 0px 0px 10px #bdd8d3;
    transition: 200ms;
    transition-property: text-shadow;
}
